<div class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/find_pet">Find a Dog/Cat</a></li>
    <li><a href="/dog_care">Dog Care</a></li>
    <li><a href="/cat_care">Cat Care</a></li>
    <li><a href="/give_away_pet">Have a Pet to Give Away</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/create_account">Register</a></li>
  </ul>
</div>
