<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fynn Gnugesser Website</title>
    <link rel="stylesheet" type="text/css" href="cat_care.css" />
  </head>
  <body>
    <%- include ('partials/header.ejs')%>
    <div class="all_content">
      <%- include ('partials/navbar.ejs')%>

      <div class="main_content">
        <h2>How to Care for Your Cat</h2>
        <p>
          Cats are generally more independent than dogs and many other pets, but
          they require proper care from their owners nonetheless. Here are some
          basic tips and guidelines to follow to ensure your cat's best health
          and happiness.
        </p>
        <ul>
          <li>
            <strong>Regular Veterinary Care:</strong> Schedule regular visits to
            the veterinarian for check-ups, vaccinations, and preventive care.
            Cats should receive vaccinations against common diseases such as
            rabies and feline leukemia.
          </li>
          <li>
            <strong>Proper Nutrition:</strong> Feed your cat a balanced and
            appropriate diet formulated for their age, size, and health needs.
            Provide fresh water daily and avoid feeding them human foods that
            are harmful, such as chocolate, onions, and grapes.
          </li>
          <li>
            <strong>Litter Box Maintenance:</strong> Keep the litter box clean
            by scooping it daily and replacing the litter regularly. Cats are
            meticulous about their hygiene, so maintaining a clean litter box
            encourages good litter box habits.
          </li>
          <li>
            <strong>Proper Hydration:</strong> Always keep fresh water available
            for your dog, especially during hot weather or after physical
            activity. Monitor their water intake to ensure they stay hydrated.
          </li>
          <li>
            <strong>Environmental Enrichment:</strong> Provide environmental
            enrichment to keep your cat mentally stimulated and physically
            active. Offer toys, scratching posts, climbing structures, and
            interactive play sessions to prevent boredom and encourage natural
            behaviors.
          </li>
          <li>
            <strong>Spaying/Neutering:</strong> Consider spaying or neutering
            your cat to prevent unwanted litters and reduce the risk of certain
            health problems. Discuss this with your veterinarian to determine
            the appropriate timing.
          </li>
          <li>
            <strong>Monitoring Health:</strong> Pay attention to any changes in
            your cat's behavior, appetite, litter box habits, or appearance.
            These changes could indicate underlying health issues that require
            veterinary attention.
          </li>
          <li>
            <strong>Affection and Bonding:</strong> Cats thrive on love and
            attention. Spend quality time bonding with your cat through petting,
            play, and positive interactions to strengthen your relationship and
            promote their well-being.
          </li>
        </ul>
        <div id="links">
          <p>
            If you want more resources regarding cat care, here are some useful
            websites to check out: <br />
            <a
              href="https://www.aspca.org/pet-care/cat-care/general-cat-care"
              target="_blank"
              >https://www.aspca.org/pet-care/cat-care/general-cat-care</a
            >
            <br />
            <a
              href="https://www.purina.com/articles/cat/health/routine-care/how-to-care-for-a-cat"
              target="_blank"
              >https://www.purina.com/articles/cat/health/routine-care/how-to-care-for-a-cat</a
            >
            <br />
            <a
              href="https://www.humanesociety.org/caring-your-cat"
              target="_blank"
              >https://www.humanesociety.org/caring-your-cat</a
            >
          </p>
        </div>
      </div>
    </div>
    <%- include ('partials/footer.ejs')%>
    <script src="logoutButton.js"></script>
    <%- include ('partials/logoutCheck.ejs')%>
  </body>
</html>
