<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fynn Gnugesser Website</title>
    <link rel="stylesheet" type="text/css" href="contact.css" />
  </head>
  <body>
    <%- include ('partials/header.ejs')%>
    <div class="all_content">
      <%- include ('partials/navbar.ejs')%>

      <div class="main_content">
        <h2>Contact Us</h2>
        <p>
          If you have any questions or concerns about anything regarding
          <em>Fynn's Home For Pets</em>, do not hesitate to contact us via the
          email below.
        </p>
        <p>Name: Fynn Gnugesser</p>
        <p>Student ID: 40275627</p>
        <p>Email: fynngnugesser@gmail.com</p>
      </div>
    </div>
    <%- include ('partials/footer.ejs')%>
    <script src="logoutButton.js"></script>
    <%- include ('partials/logoutCheck.ejs')%>
  </body>
</html>
