<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fynn Gnugesser Website</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <%- include ('partials/header.ejs')%>

    <div class="all_content">
      <%- include ('partials/navbar.ejs')%>
      <div class="main_content">
        <h2>Welcome to Our Adoption Service!</h2>
        <p>
          At <em>Fynn's Home For Pets</em>, we have only one goal in mind: get
          abandoned pets into the loving homes they deserve. With this website,
          our dream of keeping all pets off of the cold streets is closer to
          being a reality! Here, you can browse through all the pets that we
          currently have up for adoption, or alternatively if you already have a
          kind of cat or dog in mind, you can use the
          <em>Find a Dog/Cat</em> page to search using specific criteria and see
          if we have a matching pet.
        </p>
        <p>
          To ensure that our adopted friends are being properly taken care of,
          we also have an entire page dedicated to proper dog care as well as
          one for cat care. If you'd like to put a pet up for adoption, be it
          because you are moving away or due to any other circumstances, please
          visit our <em>Have a Pet to Give Away</em> page using the navigation
          bar to the left.
        </p>
        <p>
          If you wish to contact us for any reason, for example to inquire about
          a listed pet, mandatory costs/fees, or to ask us more about our
          mission to rescue pets, please visit the <em>Contact Us</em> page on
          the left. We wish you happy browsing, and hope you enjoy going through
          our new website to potentially find your new best friend!
        </p>
        <img
          src="images/HealthyHappy002_0_0.jpg.webp"
          alt="happy dog with a green leafy background"
        />
        <p id="credit">
          Credit:
          <a
            href="https://www.webbox.co.uk/blog/5-top-tips-healthy-and-happy-dog"
            target="_blank"
            >https://www.webbox.co.uk/blog/5-top-tips-healthy-and-happy-dog</a
          >
        </p>
      </div>
      </div>
    </div>
        <%- include ('partials/footer.ejs')%>
        <script src="logoutButton.js"></script>
            <%- include ('partials/logoutCheck.ejs')%>
  </body>
</html>
